*.lm filter=lfs diff=lfs merge=lfs -text
content/Waterline/3_Ocean_Sim_Content/1_BP_Actors/2_Models/2k_Plane.uasset filter=lfs diff=lfs merge=lfs -text
content/Waterline/9_Ocean_Sim_BETA/1_BP_Actors/2_Models/2k_Plane.uasset filter=lfs diff=lfs merge=lfs -text
